@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --main-accent: 27 138 122;
        --lighter-accent: 65 174 153;
        --main-accent-hover: 39 137 118;
        --home-bg: 239 250 252;
        --link-active: 254 184 72;
        --link-active-hover: 242 152 37;
        --text: 7 13 13;
        --text-faded: 105 105 105;
        --light-bg: 250 250 250;
        --light-objects: 217 217 217;
        --danger: 239 68 68;
        --danger-hover: 185 28 28;

        
      }

    html {
      scroll-behavior: smooth;
    }
}

@layer {
    body {
      @apply text-text;
      @apply box-border;
    }
  }
  
